<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <script src="/index.js"></script>
  <title>
    Edit Note
  </title>
</head>

<body>
  <a href="/notes">
    <button>All Notes</button>
  </a>

  <h1>
    Edit Note
  </h1>

  <form class="full-width" action="/notes/<%= note.id %>/update" method="POST">
    <label for="title">Title</label>
    <input oninput="verifyInputs()" type="text" id="title" name="title" autofocus value="<%= note.title %>" />

    <label for="content">Content</label>
    <textarea oninput="verifyInputs()" name="content" id="content" cols="30" rows="40"><%= note.content %></textarea>

    <button type="submit"  id="submitButton">Edit Note</button>
  </form>
</body>

</html>