<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('inc/head') %>
  <title>Error <%= error.code %></title>
</head>

<body>
  <div class="page-content">
    <h1><%= error.title %></h1>

    <% if (error.description) { %>
      <h3>
        <%= error.description %>
      </h3>
    <% } %>
    
    <p>Go back to the <a href="/notes">home page</a>.</p>
  </div>
</body>

</html>