<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('inc/head') %>
  <title>Login</title>
</head>

<body>
  <div class="half-width">

    <h1>Login</h1>

    <%- include('inc/form-error.ejs') %>
    
    <form class="full-width" action="/login" method="POST">
      <label for="email">E-mail</label>
      <input class="form-separated" value="<%= locals.user ? user.email : '' %>" autofocus name="email" id="email" type="email">

      <label for="password">Password</label>
      <input class="form-separated" name="password" id="password" type="password">

      <button class="form-separated" id="submitButton" type="submit">Login</button>
    </form>
    
    <div class="auth-link">
      <a href="/register">Create an Account</a>
    </div>
  </div>

  <footer>
    <%- include('inc/footer') %>
  </footer>
</body>

</html>