<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Add Note</title>
</head>

<body>
  <header>
    <a title="Click to go back to all notes" href="/notes">
      <button>Go Back</button>
    </a>

    <a title="Click to go back" href="/notes">
      <button>Cancel</button>
    </a>
  </header>

  <hr>
  
  <div class="page-content">
    <h1>
      Add Note
    </h1>

    <% if (locals.error) { %>
      <div class="box error-message">
        <strong>
        <%= error %>
      </strong>
      </div>
    <% } %>

    <form class="full-width" action="/notes/create" method="POST">
      <label for="title">Title</label>
      <input class="form-separated" type="text" id="title" name="title" autofocus value="<%= locals.note ? note.title : '' %>"/>

      <label for="content">Content</label>
      <textarea class="form-separated" name="content" id="content" cols="30" rows="15"><%= locals.note ? note.content : '' %></textarea>

      <button class="form-separated" title="Click to save this note" type="submit" id="submitButton">Save Note</button>
    </form>
  </div>
</body>

</html>