<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <script src="/index.js"></script>
  <title>
    Add Note
  </title>
</head>

<body>
  <a title="Click to go back to all notes" href="/notes">
    <button>All Notes</button>
  </a>

  <hr>
  
  <h1>
    Add Note
  </h1>

  <form class="full-width" action="/notes/store" method="POST">
    <label for="title">Title</label>
    <input oninput="verifyInputs(['title', 'content'], 'submitButton')" type="text" id="title" name="title" autofocus />

    <label for="content">Content</label>
    <textarea oninput="verifyInputs(['title', 'content'], 'submitButton')" name="content" id="content" cols="30" rows="40"></textarea>

    <button disabled title="Click to save this note" disabled type="submit" id="submitButton">Save Note</button>
  </form>
</body>

</html>