html, body {
  padding: 0;
}

body {
  font-family: monospace;
  max-width: 800px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

textarea {
  resize: vertical;
}

form.full-width {
  display: flex;
  flex-direction: column;
}

div.half-width {
  width: 50%;
  margin: auto;
}

.inline {
  display: inline-block;
}

input, button {
  margin-top: 5px;
  margin-bottom: 5px;
}

p.content-wrapper {
  white-space: pre-line;
  text-align: justify;
}

div.header {
  margin-top: 6px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

div.content {
  padding: 0 10px 0 10px;
}
