body {
  font-family: monospace;
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

form.full-width {
  display: flex;
  flex-direction: column;
}

input, button {
  margin-top: 5px;
  margin-bottom: 5px;
}

p.content-wrapper {
  white-space: pre-line;
}