:root {
  --ft-color: #1f1f1f;
  --bg-color: #f8f8f8;
  --er-color: #ff002f;
}

html {
  filter: invert(1);
}

.emoji {
  filter: invert(1);
}

html,
body {
  padding: 0;
}

body {
  font-family: monospace;
  max-width: 800px;
  margin: auto;
  background-color: var(--bg-color);
  color: var(--ft-color);
}

ul {
  list-style: none;
  padding: 0;
}

form.full-width {
  display: flex;
  flex-direction: column;
}

div.half-width {
  padding: 0 25px 0 25px;
  max-width: 400px;
  margin: auto;
}

.inline {
  display: inline-block;
}

.form-separated {
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
}

p.content-wrapper {
  white-space: pre-line;
  text-align: justify;
}

header {
  margin-top: 6px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

div.page-content {
  padding: 0 10px 0 10px;
}

div.auth-link {
  margin-top: 10px;
  text-align: center;
}

div.box {
  border-radius: 2px;
  padding: 5px;
  margin: 10px 0 10px 0;
  text-align: center;
}

div.error-message {
  color: var(--er-color);
  border-color: var(--er-color);
}

div.message {
  padding-left: 20px;
  padding-right: 20px;
}

h2.note-title {
  padding-top: 16px;
  margin: 8px 0;
}

p.note-preview {
  line-break: anywhere;
  margin: 8px 0;
}

input,
button {
  padding: 0 2px;
  min-width: 45px;
}

input,
button,
textarea {
  margin: 5px 0 5px 0;
  padding: 2px;
}

@media screen and (max-width: 425px) {
  input.small-search-input {
    width: 85px;
  }

  input,
  button {
    min-width: 40px;
  }
}

@media screen and (max-width: 325px) {
  input.small-search-input {
    width: 45px;
  }
}